<div class="panel-heading panel-secondary panel-title text-center">
    <h3>{{blog.attributes.post.title}}</h3>
    Posted {{timestampToDate blog.attributes.post.published}}
</div>
<div class="panel-padding">
    {{{blog.attributes.post.content}}}
</div>