html, body {
    height: 100%;
}

ol {
    -webkit-padding-start: 0;
}

.site-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -51px;
}

.site-footer,
.site-push {
    height: 51px;
}

.site-footer {
    margin-top: 15px;
}

.site-footer .row {
    margin: 0;
    border: none;
    border-radius: 0;
    height: 51px;
}

.site-footer .row > div {
    text-align: center;
    font-size: 13px;
    padding: 0;
    line-height: 1.3;
}

div#logo {
    display: inline-block;
    width: 480px;
    height: 80px;
    background-image: url("/images/roncliLogo@2x.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5) or (min-resolution: 1.5dppx) {
    div#logo {
        background: url("/images/roncliLogo@4x.png") 480px 80px;
    }
}

@media (max-width: 767px) {
    div#logo {
        width: 240px;
        height: 40px;
        background-image: url("/images/roncliLogo.png");
    }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 1.5dppx) {
    div#logo {
        background: url("/images/roncliLogo@2x.png") 240px 40px;
    }
}

@media (max-width: 326px) {
    div#logo {
        width: 180px;
        height: 30px;
        background-size: 180px 30px;
    }
}

#media-player-panel {
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: solid #4b751e 1px;
    border-left: none;
    top: 80px;
    left: -20px;
    width: 0;
    transition: width 0.75s ease-in-out, left 0.75s ease-in-out;
    overflow: hidden;
    z-index: 30000;
}

#media-player-panel.open {
    left: 0;
    width: 400px;
}

#media-player-body {
    width: 400px;
    height: 450px;
}

@media (max-width: 420px) {
    #media-player-panel.open {
        width: 300px;
    }

    #media-player-body {
        width: 300px;
    }
}

#media-player-content {
    position: relative;
    width: 100%;
    height: 250px;
}

#media-player-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#media-player-content-player {
    position: absolute;
    width: 100%;
    height: 100%;
}

button.media-player-button:active, button.media-player-button:focus {
    border: none;
}

#media-player-playlist-container {
    width: 100%;
    height: 79px;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 3px;
    overflow-y: scroll;
}

#media-player-playlist {
    display: table;
    width: 100%;
}

div.media-player-item {
    display: table-row;
    width: 100%;
}

div.media-player-item-title {
    display: table-cell;
    width: auto;
}

button.media-player-item-play {
    padding: 0 2px;
    width: 100%;
    text-align: left;
}

button.media-player-item-play:hover, button.media-player-item-play:active, button.media-player-item-play:focus {
    text-decoration: none;
}

div.media-player-item-delete {
    display: table-cell;
    width: 20px;
}

button.media-player-item-remove {
    padding: 0 2px;
    width: 100%;
}

#media-player-trigger {
    position: absolute;
    top: 90px;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: solid #4b751e 2px;
    border-left: none;
    display: none;
    z-index: 30001;
}

#media-player-trigger-button {
    color: #aaaaaa;
    padding: 3px;
}

#media-player-trigger.open #media-player-trigger-button {
    color: #4b751e
}

#media-player-trigger-button:active, #media-player-trigger-button:focus {
    outline: none;
}

div.twitter-logo {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 16px;
    background-image: url("/images/twitter/logo.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5) or (min-resolution: 1.5dppx) {
    div.twitter-logo {
        background: url("/images/twitter/logo@2x.png") 80px 16px;
    }
}

div.scroller-wrapper .btn-group-vertical {
    margin-bottom: 0;
}

div.twitter {
    background-color: #ffffff;
    font-size: 12px;
    line-height: 1;
    height: 200px;
}

div.twitter div.scroller-wrapper {
    position: absolute;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

div.tweet {
    padding: 2px;
}

div.tweet div.avatar {
    float: left;
}

div.tweet div.avatar img {
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-bottom: 2px;
}

div.tweet div.text div.user {
    font-size: 13px;
    font-weight: bold;
}

div.tweet div.text div.links {
    text-align: right;
    vertical-align: middle;
}

div.tweet a div.reply {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url("/images/twitter/reply.png");
}

div.tweet a div.retweet {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url("/images/twitter/retweet.png");
}

div.tweet a div.favorite {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url("/images/twitter/favorite.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5) or (min-resolution: 1.5dppx) {
    div.tweet a div.reply {
        background: url("/images/twitter/reply@2x.png") 16px 16px;
    }

    div.tweet a div.retweet {
        background: url("/images/twitter/retweet@2x.png") 16px 16px;
    }

    div.tweet a div.favorite {
        background: url("/images/twitter/favorite@2x.png") 16px 16px;
    }
}

div.tweets div.hr {
    background-color: #141435;
    height: 1px;
    margin: 2px 0;
}

.bookmark {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    vertical-align: middle;
}

.bookmark-blogger {
    background-image: url("/images/blogger.png");
}

.bookmark-facebook {
    background-image: url("/images/facebook.png");
}

.bookmark-gplus {
    background-image: url("/images/gplus.png");
}

.bookmark-rss {
    background-image: url("/images/rss.png");
}

.bookmark-tumblr {
    background-image: url("/images/tumblr.png");
}

.bookmark-twitter {
    background-image: url("/images/twitter.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5) or (min-resolution: 1.5dppx) {
    .bookmark-blogger {
        background-image: url("/images/blogger@2x.png");
    }

    .bookmark-facebook {
        background-image: url("/images/facebook@2x.png");
    }

    .bookmark-gplus {
        background-image: url("/images/gplus@2x.png");
    }

    .bookmark-rss {
        background-image: url("/images/rss@2x.png");
    }

    .bookmark-tumblr {
        background-image: url("/images/tumblr@2x.png");
    }

    .bookmark-twitter {
        background-image: url("/images/twitter@2x.png");
    }
}

.text-middle {
    vertical-align: middle;
}

.vertical-margin {
    margin: 20px 0;
}

.panel-padding {
    padding: 20px;
}

.image-margin {
    margin: 20px;
}

.top-margin-only {
    margin-top: 20px;
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

div.body {
    background-color: #ffffff;
    padding: 20px;
}

.btn-group-vertical > div.body:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.btn-group-vertical > div.body:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

img.constrain-width {
    max-width: 100%;
}

img.thumb {
    cursor: pointer;
}

div.blog.constrain-height div.body {
    max-height: 400px;
    overflow-y: auto;
}

div.blog iframe.soundcloud_audio_player {
    width: 100%;
    height: 200px;
}

div.blog iframe.tumblr_audio_player {
    width: 100%;
    height: 100px;
}

div.blog div.body.youtube iframe {
    width: 100%;
    height: 200px;
}

div.blog div.body h3.link {
    margin-bottom: 20px;
}

div.blog div.blog-nav {
    width: 100%;
    margin: 0;
}

div.blog div.blog-nav.blog-nav-top {
    border: solid #2c2c45;
    border-width: 0 0 1px 0;
}

div.blog div.blog-nav.blog-nav-bottom {
    border: solid #2c2c45;
    border-width: 1px 0 0 0;
}

div.blog div.blog-nav > a.btn {
    height: 48px;
    border-radius: 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

div.blog div.blog-nav > a.btn > div {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 22px;
}

@media (min-width: 768px) {
    div.blog div.blog-nav > a.btn > div {
        height: 42px;
    }
}

div.blog div.blog-nav > div {
    height: 48px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

div.blog div.blog-nav > div > div {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 42px;
    text-align: center;
}

div.blog div.blog-nav-bottom:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

div.blog div.blog-nav-bottom:last-child > :first-child {
    border-bottom-left-radius: 4px;
}

div.blog div.blog-nav-bottom:last-child > :last-child {
    border-bottom-right-radius: 4px;
}

div.right-side div.panel-body {
    font-size: 13px;
    padding: 2px;
}

div.right-side div.panel-body img.icon {
    width: 64px;
    height: 64px;
    float: left;
    padding: 0 3px 3px 0;
}

div.right-side div.panel-body div.title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
}

div.right-side div.panel-body.sharing {
    text-align: center;
}

div.right-side div.panel-body.sharing img {
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

@media (max-width: 991px) {
    div.right-side div.panel-body img.icon {
        width: 32px;
        height: 32px;
    }
}

div.right-side div.blog-categories {
    line-height: 1;
    height: 200px;
}

div.right-side div.scroller-wrapper {
    position: absolute;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

div.right-side div.scroller-wrapper .btn-group-vertical > .btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.comment-post {
    background-color: white;
    border-bottom: solid 1px #2c2c45;
}

div.comment-header {
    border-bottom: solid 1px #c0c0c0;
}

div.comment-author {
    font-weight: bold;
    display: inline-block;
}

div.comment-date {
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
}

div.comment-body {
    padding: 0 10px;
}

.mce-container button[role=presentation] span, .mce-container span.mce-text {
    font-family: "Archivo Narrow", Verdana, Arial, sans-serif !important;
}
