<iframe src="https://www.youtube.com/embed/{{{id}}}?feature=oembed&enablejsapi=0&wmode=opaque" frameborder="0" allowfullscreen="true" style="width: 100%; height: 200px;"></iframe>
<button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>