<div class="panel text-center">
    To change your email address, please provide the following information below:
</div>
<div class="panel text-center">
    <form id="emailChangeForm" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">New email:</span>
            <input id="emailChangeNewEmail" name="emailChangeNewEmail" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Password:</span>
            <input id="emailChangePassword" name="emailChangePassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <button type="button" id="emailChangeButton" class="btn btn-primary">Change Email Address</button>
        <div id="emailChangeErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before changing your email address:</div>
            <div id="emailChangeErrors" class="panel-body"></div>
        </div>
        <div id="emailChangeServerErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while changing your email address:</div>
            <div id="emailChangeServerErrors" class="panel-body"></div>
        </div>
    </form>
</div>
