<div class="alert text-center alert-info">
    Thank you for updating your email address.  To complete the update, check your email.  You must validate your new email address before logging back in.
</div>
