<div class="alert text-center alert-danger">
    There was a problem while changing your email address.  If you need help changing your email address, please contact <a href="mailto:roncli@roncli.com">roncli</a>.
</div>
