<div class="panel text-center">
    Log in, or register with roncli.com for free.
</div>
<ul id="loginNavs" class="nav nav-tabs">
    <li id="loginNavTab" class="active"><a id="loginNav" href="#loginTab" data-toggle="tab">Login</a></li>
    <li id="registerNavTab"><a id="registerNav" href="#registerTab" data-toggle="tab">Register</a></li>
    <li id="forgotPasswordNavTab"><a id="forgotPasswordNav" href="#forgotPasswordTab" data-toggle="tab">Forgot Password</a></li>
</ul>
<div id="loginTabs" class="tab-content panel text-center">
    <div id="loginTab" class="tab-pane active">
        <form id="loginForm" class="VaildationForm">
            <div class="input-group">
                <span class="input-group-addon">Email:</span>
                <input id="loginEmail" name="loginEmail" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Password:</span>
                <input id="loginPassword" name="loginPassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
            </div>
            <div class="vertical-margin">
                <input id="loginSaveLogin" type="checkbox" class="text-middle"/><label for="loginSaveLogin" class="text-middle"> Save Login</label><br/>
            </div>
            <button type="button" id="loginButton" class="btn btn-primary">Log In</button>
            <div id="loginErrorList" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">Please correct the following errors before logging in:</div>
                <div id="loginErrors" class="panel-body"></div>
            </div>
            <div id="loginServerErrorList" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">There was an error while logging in:</div>
                <div id="loginServerErrors" class="panel-body"></div>
            </div>
        </form>
    </div>
    <div id="registerTab" class="tab-pane">
        <form id="registerForm" class="VaildationForm">
            <div class="input-group">
                <span class="input-group-addon">Email:</span>
                <input id="registerEmail" name="registerEmail" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Password:</span>
                <input id="registerPassword" name="registerPassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Retype Password:</span>
                <input id="registerRetypePassword" name="registerRetypePassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Alias:</span>
                <input id="registerAlias" name="registerAlias" type="text" maxlength="20" class="Validate form-control" placeholder="Your Nickname"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <div class="hidden-xs">(<a href="http://www.onguardonline.gov/articles/0031-protecting-your-childs-privacy-online" tabindex="-1" target="_blank">COPPA</a> compliance) Date of Birth:</div>
                    <div class="visible-xs">(<a href="http://www.onguardonline.gov/articles/0031-protecting-your-childs-privacy-online" tabindex="-1" target="_blank">COPPA</a>) DOB:</div>
                </span>
                <input id="registerDOB" name="registerDOB" type="text" class="Validate form-control" placeholder="Must be 13 years or older"/>
                <span class="input-group-btn"><button type="button" id="registerDOBButton" class="btn btn-success"><span class="glyphicon glyphicon-calendar"></span></button></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Type the characters below:</span>
                <input id="registerCaptcha" name="registerCaptcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
            </div>
            <img id="registerCaptchaImage" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50" /><br />
            <button type="button" id="registerButton" class="btn btn-primary">Register</button>
            <div id="registerErrorList" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">Please correct the following errors before registering:</div>
                <div id="registerErrors" class="panel-body"></div>
            </div>
            <div id="registerServerErrorList" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">There was an error while registering:</div>
                <div id="registerServerErrors" class="panel-body"></div>
            </div>
        </form>
    </div>
    <div id="forgotPasswordTab" class="tab-pane">
        <form id="forgotPasswordForm" class="VaildationForm">
            <div class="text-left panel-padding">
                To recover your password, enter your email address below.  You will be sent an email that will include a link that you can use to change your password.
            </div>
            <div class="input-group">
                <span class="input-group-addon">Email:</span>
                <input id="forgotPasswordEmail" name="forgotPasswordEmail" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
            </div>
            <button type="button" id="forgotPasswordButton" class="btn btn-primary top-margin-only">Recover Password</button>
            <div id="forgotPasswordErrorList" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">Please correct the following errors before recovering your password:</div>
                <div id="forgotPasswordErrors" class="panel-body"></div>
            </div>
            <div id="forgotPasswordServerErrorList" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">There was an error while attempting to recover your password:</div>
                <div id="forgotPasswordServerErrors" class="panel-body"></div>
            </div>
            <div id="forgotPasswordServerErrors" class="error"></div>
        </form>
    </div>
</div>
