<div class="panel text-center">
    Log in, or register with roncli.com for free.
</div>
<ul id="login-navs" class="nav nav-tabs">
    <li id="login-nav-tab" class="active"><a id="login-nav" href="#login-tab" data-toggle="tab">Login</a></li>
    <li id="register-nav-tab"><a id="register-nav" href="#register-tab" data-toggle="tab">Register</a></li>
    <li id="forgot-password-nav-tab"><a id="forgot-password-nav" href="#forgot-password-tab" data-toggle="tab">Forgot Password</a></li>
</ul>
<div id="login-tabs" class="tab-content panel text-center">
    <div id="login-tab" class="tab-pane active">
        <form id="login-form" class="VaildationForm">
            <div class="input-group">
                <span class="input-group-addon">Email:</span>
                <input id="login-email" name="login-email" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Password:</span>
                <input id="login-password" name="login-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
            </div>
            <div class="vertical-margin">
                <input id="login-save-login" type="checkbox" class="text-middle"/><label for="login-save-login" class="text-middle"> Save Login</label><br/>
            </div>
            <button type="button" id="login-button" class="btn btn-primary">Log In</button>
            <div id="login-error-list" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">Please correct the following errors before logging in:</div>
                <div id="login-errors" class="panel-body"></div>
            </div>
            <div id="login-server-error-list" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">There was an error while logging in:</div>
                <div id="login-server-errors" class="panel-body"></div>
            </div>
        </form>
    </div>
    <div id="register-tab" class="tab-pane">
        <form id="register-form" class="VaildationForm">
            <div class="input-group">
                <span class="input-group-addon">Email:</span>
                <input id="register-email" name="register-email" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Password:</span>
                <input id="register-password" name="register-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Retype Password:</span>
                <input id="register-retype-password" name="register-retype-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Alias:</span>
                <input id="register-alias" name="register-alias" type="text" maxlength="20" class="Validate form-control" placeholder="Your Nickname"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <div class="hidden-xs">(<a href="http://www.onguardonline.gov/articles/0031-protecting-your-childs-privacy-online" tabindex="-1" target="_blank">COPPA</a> compliance) Date of Birth:</div>
                    <div class="visible-xs">(<a href="http://www.onguardonline.gov/articles/0031-protecting-your-childs-privacy-online" tabindex="-1" target="_blank">COPPA</a>) DOB:</div>
                </span>
                <input id="register-dob" name="register-dob" type="text" class="Validate form-control" placeholder="Must be 13 years or older"/>
                <span class="input-group-btn"><button type="button" id="register-dob-button" class="btn btn-success"><span class="glyphicon glyphicon-calendar"></span></button></span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Type the characters below:</span>
                <input id="register-captcha" name="register-captcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
            </div>
            <img id="register-captcha-image" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50" /><br />
            <button type="button" id="register-button" class="btn btn-primary">Register</button>
            <div id="register-error-list" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">Please correct the following errors before registering:</div>
                <div id="register-errors" class="panel-body"></div>
            </div>
            <div id="register-server-error-list" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">There was an error while registering:</div>
                <div id="register-server-errors" class="panel-body"></div>
            </div>
        </form>
    </div>
    <div id="forgot-password-tab" class="tab-pane">
        <form id="forgot-password-form" class="VaildationForm">
            <div class="text-left panel-padding">
                To recover your password, enter your email address below.  You will be sent an email that will include a link that you can use to change your password.
            </div>
            <div class="input-group">
                <span class="input-group-addon">Email:</span>
                <input id="forgot-password-email" name="forgot-password-email" type="text" maxlength="256" class="Validate form-control" placeholder="yourname@domain.com"/>
            </div>
            <button type="button" id="forgot-password-button" class="btn btn-primary top-margin-only">Recover Password</button>
            <div id="forgot-password-error-list" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">Please correct the following errors before recovering your password:</div>
                <div id="forgot-password-errors" class="panel-body"></div>
            </div>
            <div id="forgot-password-server-error-list" class="panel panel-danger top-margin-only" hidden>
                <div class="panel-heading">There was an error while attempting to recover your password:</div>
                <div id="forgot-password-server-errors" class="panel-body"></div>
            </div>
        </form>
    </div>
</div>
