<div class="panel text-center">
    Log in, or register with roncli.com for free.
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:;">Login</a></li>
    <li><a href="javascript:;">Register</a></li>
    <li><a href="javascript:;">Forgot Password</a></li>
</ul>
<div class="panel">
    <div id="loginTab" class="text-center">
        <div class="input-group">
            <span class="input-group-addon">Email:</span>
            <input id="loginEmail" name="loginEmail" type="text" size="20" maxlength="256" class="Validate form-control"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Password:</span>
            <input id="loginPassword" name="loginPassword" type="password" size="20" maxlength="20" class="Validate form-control"/>
        </div>
        <input id="loginSaveLogin" type="checkbox" class="text-middle"/><label for="loginSaveLogin" class="text-middle"> Save Login</label><br/>
        <input id="loginButton" type="button" value="Log In"/>
        <div id="loginErrors"></div>
        <div id="loginServerErrors" class="error"></div>
    </div>
    <div id="registerTab" class="panel hidden">

    </div>
    <div id="forgotPasswordTab" class="panel hidden">

    </div>
</div>