<div class="panel text-center">
    To reset your password, please provide the following information below:
</div>
<div class="panel text-center">
    <form id="passwordResetForm" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">New password:</span>
            <input id="passwordResetNewPassword" name="passwordResetNewPassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Retype password:</span>
            <input id="passwordResetRetypePassword" name="passwordResetRetypePassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Type the characters below:</span>
            <input id="passwordResetCaptcha" name="passwordResetCaptcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
        </div>
        <img id="passwordResetCaptchaImage" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50" /><br />
        <button type="button" id="passwordResetButton" class="btn btn-primary">Reset Password</button>
        <div id="passwordResetErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before resetting your password:</div>
            <div id="passwordResetErrors" class="panel-body"></div>
        </div>
        <div id="passwordResetServerErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while resetting your password:</div>
            <div id="passwordResetServerErrors" class="panel-body"></div>
        </div>
    </form>
</div>
