<div class="panel text-center panel-danger">
    There was a problem confirming your reset password request.  If you need help resetting your password, please contact <a href="mailto:roncli@roncli.com">roncli</a>.
</div>
