<div class="panel text-center panel-info">
    Your password reset request has been accepted.  An email with instructions on how to change your password has been sent to your account.  You will have two hours to change your password before it expires.
</div>
