<div class="panel text-center">
    To reset your password, please provide the following information below:
</div>
<div class="panel text-center">
    <form id="password-reset-form" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">New password:</span>
            <input id="password-reset-new-password" name="password-reset-new-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Retype password:</span>
            <input id="password-reset-retype-password" name="password-reset-retype-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Type the characters below:</span>
            <input id="password-reset-captcha" name="password-reset-captcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
        </div>
        <img id="password-reset-captcha-image" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50" /><br />
        <button type="button" id="password-reset-button" class="btn btn-primary">Reset Password</button>
        <div id="password-reset-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before resetting your password:</div>
            <div id="password-reset-errors" class="panel-body"></div>
        </div>
        <div id="password-reset-server-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while resetting your password:</div>
            <div id="password-reset-server-errors" class="panel-body"></div>
        </div>
    </form>
</div>
