<div class="panel">
    <div class="panel-body sharing">
        <div class="title">Share this page</div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.roncli.com" title="Share on Facebook" target="_blank" class="facebook-share"><div class="bookmark bookmark-facebook"></div></a>
        <a href="https://twitter.com/home?status=http://www.roncli.com" target="_blank" title="Share on Twitter" class="twitter-share"><div class="bookmark bookmark-twitter"></div></a><br class="hidden-md hidden-lg" />
        <a href="https://plus.google.com/share?url=http://www.roncli.com" target="_blank" title="Share on Google Plus" class="gplus-share"><div class="bookmark bookmark-gplus"></div></a>
        <a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.roncli.com" target="_blank" title="Share on Tumblr" class="tumblr-share"><div class="bookmark bookmark-tumblr"></div></a>
    </div>
</div>
