<div class="panel text-center panel-success">
    Thank you for registering with roncli.com.  To complete your registration, check your email.  You must validate your registration before logging in.
</div>
