<div class="alert text-center alert-danger">
    There was a problem validating your account.  If you need help validating your account, please contact <a href="mailto:roncli@roncli.com">roncli</a>.
</div>
