<div class="col-xs-8">
    <div class="panel">
        <div class="panel-body">
            Welcome to the website.
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs">
    <div class="panel">
        <div class="panel-body">
            {{time.attributes.time}}
        </div>
    </div>
</div>
