<div class="col-xs-8 blog constrain-height">
    <div class="btn-group-vertical">
        <a class="btn btn-info" href="/blog">
            <div class="panel-heading panel-title text-center">
                <h1>Latest Blog Post</h1>
            </div>
        </a>
        {{partial "blog/post" post=blog.attributes.post header="default"}}
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group-vertical">
                <a class="btn btn-info" href="/music">
                    <div class="panel-heading panel-title text-center">
                        <h3>Music</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Welcome</div>
        <div class="panel-body">
            <img src="/images/roncliSmall.png" class="icon" />Hello! You've found the homepage of me, Ronald M. Clifford, also known as <b>roncli</b> or <b>The Nightstalker</b>.<br /><br />
            Here, you can check out my music, browse my coding projects, follow along with what games I'm playing, and check out everything else that makes life worth living.
        </div>
    </div>
    {{partial "site/share"}}
</div>

