<div class="col-xs-8 col-sm-10">
    <div class="panel panel-primary">
        <div class="panel-heading panel-title text-center">
            <h1>404</h1>
        </div>
        <div class="panel-body">
            <div class="panel-padding">We're sorry, but this page doesn't exist.</div>
        </div>
    </div>
</div>
