html, body {
    height: 100%;
}

.site-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -51px;
}

.site-footer,
.site-push {
    height: 51px;
}

.site-footer .row {
    margin: 0;
    border: none;
    border-radius: 0;
    height: 51px;
}

.site-footer .row > div {
    text-align: center;
    font-size: 13px;
    padding: 0;
    line-height: 1.3;
}

@media (max-width: 767px) {
    img#logo {
        width: 236.5px;
        height: 37.5px;
    }
}

div.twitter {
    background-color: #ffffff;
    font-size: 12px;
    line-height: 1;
    height: 200px;
}

div.twitter div.wrapper {
    position: absolute;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

div.tweet {
    padding: 2px;
}

div.tweet div.avatar {
    float: left;
}

div.tweet div.avatar img {
    width: 32px;
    height: 32px;
}

div.tweet div.text div.user {
    font-size: 13px;
    font-weight: bold;
}

div.tweet div.text div.links {
    text-align: right;
}

div.tweets div.hr {
    background-color: #141435;
    height: 1px;
    margin: 2px 0;
}
