<!doctype html>
<html>
<head>
    <title>roncli.com</title>
</head>
<body>
    <h1>Welcome!</h1>
    <section id="content" class="container">
        {{{body}}}
    </section>
    &copy;{{copyright}}
    <script src="/mergedAssets.js"></script>
    <script>
        (function() {
            var App = window.App = new (require('app/app'))({{json appData}});
            App.bootstrapData({{json bootstrappedData}});
            App.start();
        })();
    </script>

</body>
</html>
