<div class="panel panel-primary">
    <div class="panel-heading panel-title text-center">
        <h1>Your Account</h1>
    </div>
    <div class="panel-body">
        <div class="panel-padding" style="padding-top: 0;">Update your account information below.</div>
        <div class="input-group">
            <span class="input-group-addon">Email:</span>
            <span class="input-group-addon" style="width: 100%; text-align: left; background-color: #f8f8f8; color: #151534;">{{email}}</span>
            <span class="input-group-btn">
                <button type="button" id="account-change-email" class="btn btn-success">Change Email</button>
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Password:</span>
            <span class="input-group-addon" style="width: 100%; text-align: left; background-color: #f8f8f8; color: #151534;">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
            <span class="input-group-btn">
                <button type="button" id="account-change-password" class="btn btn-success">Change Password</button>
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Alias:</span>
            <span class="input-group-addon" style="width: 100%; text-align: left; background-color: #f8f8f8; color: #151534;" id="account-alias">{{alias}}</span>
            <span class="input-group-btn">
                <button type="button" id="account-change-alias" class="btn btn-success">Change Alias</button>
            </span>
        </div>
    </div>
</div>
