<div class="alert text-center alert-info">
    Your email change request has been accepted. An email with instructions on how to change your email has been sent to your current email account. You will have two hours to change your email before it expires.
</div>
