<div class="panel text-center">
    Your email address is your primary form of identification for your account.  For your security, you must first confirm your email address change through your current email address, and then you must revalidate your account using the new email address.<br /><br />
    Please provide the following information below:
</div>
<div class="panel text-center">
    <form id="email-change-request-form" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">Password:</span>
            <input id="email-change-request-password" name="email-change-request-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Type the characters below:</span>
            <input id="email-change-request-captcha" name="email-change-request-captcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
        </div>
        <img id="email-change-request-captcha-image" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50"/><br/>
        <button type="button" id="email-change-request-button" class="btn btn-primary">Request Email Change</button>
        <div id="email-change-request-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before requesting an email change:</div>
            <div id="email-change-request-errors" class="panel-body"></div>
        </div>
        <div id="email-change-request-server-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while requesting an email change:</div>
            <div id="email-change-request-server-errors" class="panel-body"></div>
        </div>
    </form>
</div>
