<div class="panel text-center">
    Please provide the following information below to change your password:
</div>
<div class="panel text-center">
    <form id="changePasswordForm" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">Current Password:</span>
            <input id="changePasswordOldPassword" name="changePasswordOldPassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">New Password:</span>
            <input id="changePasswordNewPassword" name="changePasswordNewPassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Reetype New Password:</span>
            <input id="changePasswordRetypePassword" name="changePasswordRetypePassword" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Type the characters below:</span>
            <input id="changePasswordCaptcha" name="changePasswordCaptcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
        </div>
        <img id="changePasswordCaptchaImage" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50"/><br/>
        <button type="button" id="changePasswordButton" class="btn btn-primary">Change Password</button>
        <div id="changePasswordErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before changing your password:</div>
            <div id="changePasswordErrors" class="panel-body"></div>
        </div>
        <div id="changePasswordServerErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while changing your password:</div>
            <div id="changePasswordServerErrors" class="panel-body"></div>
        </div>
    </form>
</div>
