<div class="panel text-center">
    Please provide the following information below to change your password:
</div>
<div class="panel text-center">
    <form id="change-password-form" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">Current Password:</span>
            <input id="change-password-old-password" name="change-password-old-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">New Password:</span>
            <input id="change-password-new-password" name="change-password-new-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Reetype New Password:</span>
            <input id="change-password-retype-password" name="change-password-retype-password" type="password" maxlength="20" class="Validate form-control" placeholder="Secure123!"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Type the characters below:</span>
            <input id="change-password-captcha" name="change-password-captcha" type="text" maxlength="8" class="Validate form-control" placeholder="Prove you are a human"/>
        </div>
        <img id="change-password-captcha-image" alt="[Captcha Image]" class="text-center image-margin" width="180" height="50"/><br/>
        <button type="button" id="change-password-button" class="btn btn-primary">Change Password</button>
        <div id="change-password-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before changing your password:</div>
            <div id="change-password-errors" class="panel-body"></div>
        </div>
        <div id="change-password-server-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while changing your password:</div>
            <div id="change-password-server-errors" class="panel-body"></div>
        </div>
    </form>
</div>
