<div class="panel text-center">
    Please provide the following information below to change your alias:
</div>
<div class="panel text-center">
    <form id="changeAliasForm" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">New Alias:</span>
            <input id="changeAliasAlias" name="changeAliasAlias" type="text" maxlength="20" class="Validate form-control" placeholder="Your Nickname"/>
        </div>
        <button type="button" id="changeAliasButton" class="btn btn-primary">Change Alias</button>
        <div id="changeAliasErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before changing your alias:</div>
            <div id="changeAliasErrors" class="panel-body"></div>
        </div>
        <div id="changeAliasServerErrorList" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while changing your alias:</div>
            <div id="changeAliasServerErrors" class="panel-body"></div>
        </div>
    </form>
</div>
