<div class="panel text-center">
    Please provide the following information below to change your alias:
</div>
<div class="panel text-center">
    <form id="change-alias-form" class="VaildationForm">
        <div class="input-group">
            <span class="input-group-addon">New Alias:</span>
            <input id="change-alias-alias" name="change-alias-alias" type="text" maxlength="20" class="Validate form-control" placeholder="Your Nickname"/>
        </div>
        <button type="button" id="change-alias-button" class="btn btn-primary">Change Alias</button>
        <div id="change-alias-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">Please correct the following errors before changing your alias:</div>
            <div id="change-alias-errors" class="panel-body"></div>
        </div>
        <div id="change-alias-server-error-list" class="panel panel-danger top-margin-only" hidden>
            <div class="panel-heading">There was an error while changing your alias:</div>
            <div id="change-alias-server-errors" class="panel-body"></div>
        </div>
    </form>
</div>
