<div class="col-xs-8" id="account-panel">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <img src="/images/loading.gif" />
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-body">
            Right nav
        </div>
    </div>
</div>
