<div class="col-xs-8" id="account-panel">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <img src="/images/loading.gif" />
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Your Account</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Account</li>
        </ol>
        <div class="panel-body">
            This is your account page.  From here, you can perform basic maintenance on your account, including changing your email, password, and alias.
        </div>
    </div>
</div>
