<div data-page-id="{{attributes.id}}" class="page well well-sm" style="min-height: 54px;">
    <span style="font-size: 20px;">{{attributes.title}}</span>
    <div class="pull-right">
        <a class="btn btn-small btn-primary edit-page" style="margin-left: 20px; margin-right: 20px;" href="/admin/page{{{attributes.url}}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <button class="btn btn-small btn-danger remove-page"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
</div>
