<div class="panel-body body">
    <div class="panel panel-danger no-margin">
        <div class="panel-heading">There was an error while loading comments:</div>
        <div class="panel-body">{{error}}</div>
    </div>
</div>
