{{#each comments}}
    {{#ifCond attributes.blogSource "===" "blogger"}}
        {{partial "blog/comments/blogger"}}
    {{/ifCond}}
    {{#ifCond attributes.blogSource "===" "site"}}
        {{partial "blog/comments/site"}}
    {{/ifCond}}
{{/each}}
<div class="panel-body">
    <h3 class="text-center">Add Your Comments</h3>
    <div class="vertical-margin"><textarea class="tinymce"></textarea></div>
    <button id="add-blog-comment" class="btn-lg btn-primary center-block">Add Commment</button>
    <div class="text-center small">Note: All posted comments are moderated.</div>
    <div id="blog-comment-server-error-list" class="panel panel-danger top-margin-only" hidden>
        <div class="panel-heading">There was an error while posting your comment:</div>
        <div id="blog-comment-server-errors" class="panel-body"></div>
    </div>
</div>
