<div class="col-xs-8 blog">
    <div class="btn-group-vertical">
        {{partial "blog/post" post=blog.attributes.post index=blog.attributes.index source=blog.attributes.source categories=blog.attributes.categories header="info" nav="true"}}
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel">
        <div class="panel-body">
            TBD
        </div>
    </div>
    {{partial "site/share"}}
</div>
