<div class="col-xs-8 blog constrain-height">
    <div class="btn-group-vertical">
        {{partial "blog/post" post=blog.attributes.post index=blog.attributes.index categories=blog.attributes.categories header="info"}}
    </div>
</div>
<div class="col-sm-2 hidden-xs">
    <div class="panel">
        <div class="panel-body">
            TBD
        </div>
    </div>
</div>
