<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>External Resources</h3></div>
        <div class="panel-body text-center">
            <a href="https://www.blogger.com/home" target="_blank" class="btn btn-lg btn-primary" style="margin-right: 20px;">Blogger</a>
            <a href="https://www.tumblr.com/dashboard" target="_blank" class="btn btn-lg btn-primary">Tumblr</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Comments to Moderate</h3></div>
        {{#each comments.models}}
            {{partial "admin/blog/comment"}}
        {{/each}}
        {{#ifCond comments.models.length "===" 0}}
            <div class="panel-body">There are no comments pending moderation.</div>
        {{/ifCond}}
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li class="active">Blog</li>
        </ol>
        <div class="panel-body">
            Add or update blog posts from Blogger and Tumblr, and moderate blog comments made on the site.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
