<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>External Resources</h3></div>
        <div class="panel-body text-center">
            Visit these websites to add or update GitHub projects.<br /><br />
            <a href="https://github.com" target="_blank" class="btn btn-lg btn-primary">GitHub</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Clear Caches</h3></div>
        <div class="panel-body text-center">
            Use this after adding or updating GitHub projects to force the website to update immediately.<br /><br />
            <button id="clear-caches" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-trash"></span> Clear Caches</button>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li class="active">Coding</li>
        </ol>
        <div class="panel-body">
            Add or update projects from GitHub.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
