<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Files</h3></div>
        <div class="panel-body">
            {{#each files.models}}
                <div class="navbar navbar-default file" data-filename="{{attributes.file}}" style="background-color: #eeeeee; border: solid 1px #cccccc;">
                    <div class="container-fluid">
                        <div class="navbar-left" style="margin-right: 20px;">
                            <ul class="nav navbar-nav">
                                <li class="navbar-text" style="font-size: 20px; padding: 10px 0; color: #000000;">{{attributes.file}} ({{formatBytes attributes.size}})</li>
                            </ul>
                        </div>
                        <div class="navbar-right" style="margin-right: 0;">
                            <ul class="nav">
                                <li>
                                    <div>
                                        <a href="/files/{{attributes.file}}" class="btn btn-primary navbar-btn download-file"><span class="glyphicon glyphicon-download"></span> Download</a>
                                        <button class="btn btn-danger navbar-btn delete-file"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#ifCond files.models.length "===" 0}}
                There are no files available.
            {{/ifCond}}
            <form enctype="multipart/form-data">
                <div class="text-center">
                    Add File: <input type="file" id="add-file" name="add-file" style="display: inline-block;" /> <button class="btn btn-primary" id="upload-file"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li class="active">Files</li>
        </ol>
        <div class="panel-body">
            Add or remove files from the files directory of the site.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
