<div class="col-xs-8 blog constrain-height">
    Admin Page!
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel">
        <div class="panel-body">
            <div class="title">Site Administation</div>
            From here you have control over various parts of the website.<br /><br />
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page.  You must access this page via the Admin menu.
        </div>
    </div>
</div>
