<div class="col-xs-8">
    <div class="row">
        <div class="col-xs-4">
            <a href="/admin/blog" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-globe"></span> Blog{{#if notifications.attributes.blog}} <span class="badge">{{notifications.attributes.blog}}</span>{{/if}}</a>
        </div>
        <div class="col-xs-4">
            <a href="/admin/pages" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-file"></span> Pages{{#if notifications.attributes.pages}} <span class="badge">{{notifications.attributes.pages}}</span>{{/if}}</a>
        </div>
        <div class="col-xs-4">
            <a href="/admin/music" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-music"></span> Music{{#if notifications.attributes.music}} <span class="badge">{{notifications.attributes.music}}</span>{{/if}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a href="/admin/coding" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-hdd"></span> Coding{{#if notifications.attributes.coding}} <span class="badge">{{notifications.attributes.coding}}</span>{{/if}}</a>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Admin</li>
        </ol>
        <div class="panel-body">
            From here you have control over various parts of the website.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
