<div class="col-xs-8">
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Gaming</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Gaming</li>
        </ol>
        <div class="panel-body">
            Welcome to the world of roncli Gaming.  Learn about all of the games I play, watch past videos of me playing, and find out what I'm up to in each game.
        </div>
    </div>
    {{partial "site/share"}}
</div>
