<div class="comment-post panel-body">
    <div class="row">
        <div class="comment-header col-xs-12">
            <div class="comment-author text-success">{{attributes.author.displayName}}</div>
            <div class="comment-date text-muted">Posted {{timestampToDate attributes.published}}</div>
        </div>
    </div>
    <div class="comment-body">
        {{{sanitize attributes.content}}}
    </div>
    <a class="btn btn-primary pull-right" target="_blank" href="{{{attributes.replyAddress}}}"><div class="bookmark bookmark-blogger"></div> Reply on Blogger</a>
</div>
