<div class="comment-post panel-body">
    <div class="row">
        <div class="comment-header col-xs-12">
            <div class="comment-author text-success">{{attributes.author}}</div>
            <div class="comment-date text-muted" data-published="{{{attributes.published}}}">Posted {{timestampToDate attributes.published}}</div>
        </div>
    </div>
    <div class="comment-body">
        {{{sanitize attributes.content}}}
    </div>
    <button class="btn btn-primary pull-right comment-reply">Reply</button>
</div>
