div#music-pagination {
    font-size: 14px;
}

div#music-pagination a.page, div#music-pagination a.page:hover, div#music-pagination a.page:focus, div#music-pagination a.page:active {
    text-decoration: none;
}

@media (max-width: 1000px) {
    div#music-tracks.panel-list.grid-columns-3 {
        grid-template-columns: repeat(2, auto);
    }

    div#music-tracks.panel-list div.contents-row a.contents.tag-list {
        display: none;
    }
}
