div#music-pagination {
    font-size: 14px;
}

div#music-pagination a.page, div#music-pagination a.page:hover, div#music-pagination a.page:focus, div#music-pagination a.page:active {
    text-decoration: none;
}

div#discography div.pill {
    align-items: center;
    row-gap: 0;
    background-image: linear-gradient(to bottom, #576e3f 0, #384729 100%);
    background-color: #384729;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.08);
    color: white;
    font-size: 12px;
    min-height: 48px;
}

div#discography div.pill:hover {
    background-color: #384729;
}

@media (max-width: 1000px) {
    div#music-tracks.panel-list.grid-columns-3 {
        grid-template-columns: repeat(2, auto);
    }

    div#music-tracks.panel-list div.contents-row a.contents.tag-list {
        display: none;
    }
}
